<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientId</key>
	<string>ZMROt0XbrNTCn4MZ2b85qi1gyYEcXA3K</string>
	<key>Domain</key>
	<string>dev-12j3z2bp7hga3hep.us.auth0.com</string>
</dict>
</plist>
