<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSExceptionDomains</key>
        <dict>
            <key>34.220.10.242</key>
            <dict>
                <key>NSIncludesSubdomains</key>
                <true/>

                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <true/>

                <key>NSTemporaryExceptionMinimumTLSVersion</key>
                <string>TLSv1.0</string>
            </dict>
        </dict>

        <key>NSAllowsArbitraryLoadsForMedia</key>
        <true/>
    </dict>
	
	<key>NSSupportsSuddenTermination</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>AlibabaPuHuiTi-Medium.ttf</string>
		<string>AlibabaPuHuiTi-Bold.ttf</string>
	</array>
</dict>
</plist>
